h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", cursive;
}
.fact {
  font-size: 15px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
}
.tag {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Coiny", cursive;
}
ul {
  list-style: none;
}
